.main {
  border-style: dashed;
  color: grey;
  border-top: color(srgb red green);
}

#boeuf {
  background-color: black;
}

p {
  background-color: blue;
  color: red;
}

ul {
  background-color: red;
}
